body {
    margin: 0px;
    padding: 0px;
}

header {
    color: #e5e7eb;
    font-size: 11px;
    line-height: 1.86;
    letter-spacing: 0.1em;
    font-family: "Open Sans", arial, sans-serif;

}

ul li {
    list-style-type: none;
    margin-left: 1em;
}

p {
    font-family: "Open Sans", arial, sans-serif;
    color: #777;
}

h3 {
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.4em;
    font-family: "Open Sans", arial, sans-serif;
}

h2 {
    font-family: "Open Sans", arial, sans-serif;
    margin-bottom: 70px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4em;
    line-height: 1.4;
}

h1 {
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 0.085em;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.85);
    font-family: Dosis, arial, sans-serif;
}

button {
    font-size: 16px;
    border-radius: 2px;
    color: #111;
    background: rgba(255, 255, 255, 0.8);
    height: auto;
    padding: 12px 45px;
    letter-spacing: 00.2em;
}

section {
    padding-top: 55px;
    padding-bottom: 55px;

}

hr {
    color: rgba(255, 255, 255, 0.08);
    border-top-width: 2px;
}

.para {
    font-size: 15px;
    color: #777;
    line-height: 1.7;

}

.smallpara {
    line-height: 1.86;
    font-size: 14px;
    font-family: "Open Sans", arial, sans-serif;
    color: #777;
}

.link {
    display: flex;
    justify-content: center;
}